<p id="notice"><%= notice %></p>

<p>
  <strong>File:</strong>
  <%= @song.file %>
</p>

<p>
  <strong>Source:</strong>
  <%= @song.source %>
</p>

<p>
  <strong>Author:</strong>
  <%= @song.author %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @song.duration %>
</p>

<p>
  <strong>Loop:</strong>
  <%= @song.loop %>
</p>

<p>
  <strong>Attr stress:</strong>
  <%= @song.attr_stress %>
</p>

<p>
  <strong>Attr epicness:</strong>
  <%= @song.attr_epicness %>
</p>

<p>
  <strong>Attr happiness:</strong>
  <%= @song.attr_happiness %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
